* {
    box-sizing: border-box;
    font-size: 100%;
}

:root {
    --green: #164D59;
    --yellow: #F2D377;
    --lightBrown: #F2994B;
    --orange: #F26513;
    --primary: #A6351C;
    --secondary: #1c1b20;
    --bg: #f8f8f8;
}

body {
    max-width: 95vw;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

.nav__header {
    display: flex;
    align-items: center;
    height: 5vh;

}

.hero__section {
    display: flex;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(90deg, var(--bg) 50%, var(--primary) 50%); 
    height: 80vh;
}

.hero__h1 {
    font-size: 5rem;
    font-weight: bold;
}

.svg-icon {
    /* Place the icon on the text baseline. */
    position: relative;
    top: .125em;

    /* Prevent the icon from shrinking inside a flex container. */
    flex-shrink: 0;

    /* Scale the icon to match the font-size of the parent element. */
    height: 1em;
    width: 1em;

    /* Let the icon take whatever color the parent has. */
    fill: currentColor;

    /*
     * If the icon is used on a link, which has a color transition,
     * we can also use a transition on the fill value.
    */
   transition: fill .3s;
}

footer {
    background-color: transparent;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}