* {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

:root {
    --yellow: #F2D377;
    --primary: #A6351C;
    --secondary: #1c1b20;
    --bg: #f8f8f8;
    --h1-hero: 1rem;
    --h1-hero-icon: 2.5rem;
    --h1-content: 2.25rem;
    --a-nav: 1.5rem;
    --h1-article: 2rem;
    --h2-article: 0.9rem;
    --p-article: 0.9rem;
    --li-article: 0.8rem;
}

body {
    max-width: 95vw;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    cursor: pointer;    
}

a:hover {
    color: var(--primary);
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

header {
    font-size: var(--a-nav);
}

footer {
    margin-top: 30rem;
    padding: 0.5rem 0;
    justify-content: center;
    flex-direction: column;
}

.footer__link {
    font-weight: bold;
}

.nav__header__link--home {
    display: block;
    margin-right: auto;
}

header > a {
    padding-left: 0.5rem;
    text-decoration: none;
}

.hero__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90vh;
}

.hero__div-container {
    background: var(--bg);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__div-content > h1 {
    font-size: var(--h1-hero);
}

.hero__div-icon {    
    align-self: center;
    font-size: var(--h1-hero-icon);
    animation: bouncing 0.7s 10s infinite alternate;
}

.hero__div-icon > a {
    font-size: var(--h1-hero-icon);
    text-decoration: none;
}

.hero__div-image {
    background-image: url(./img/hero-1.JPG);
    background-size: cover;
    background-position: right;
    transition: filter 1s 0.5s;
}

.hero__div-image:hover {
    filter: grayscale(0%);
    transition: all 0.5s;
}

.hero__h1--1, .hero__h1--2, .hero__h1--3, .hero__h1--4, .hero__h1--9 {
    padding-left: 1rem;
} 

.hero__h1--5, .hero__h1--6, .hero__h1--7, .hero__h1--8 {
    padding-left: 2rem;
    color: var(--primary)
}

.hero__div-image--loaded {
    filter: grayscale(90%);
}




/* CONTENT SECTION */
.content__container {    
    margin-top: 5rem;
}

.content__container > h1 {    
    margin: 1rem 0;
    text-align: center;
    font-size: var(--h1-content);
}

.content__section {    
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
    grid-auto-rows: auto;
    text-align: justify;
}

.content__article {
    background: var(--bg);
    display: flex;
    padding: 1rem;
}

.content__article__div-content > h1 {
    font-size: var(--h1-article);
    margin: 0 0 0.5rem 0;
    text-decoration: underline;
}

.content__article__div-content > h2 {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 0 0.25rem 0;    
}

.article__p--role {
    color: gray;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0 0 0.25rem 0;
}

.article__p--stack {
    color: var(--primary);
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
}

.article__p--details {
    font-size: 0.8rem;
    font-style: italic;
    margin: 0 0 1rem 0;
}

.content__article__div-content > ul {
    font-size: 0.8rem;
    list-style-position: inside;
    padding: 0;
}

.article__p--ul > li {
    margin: 0 0 0.5rem 0;
}

.content__article__div-img {    
    background-size: cover;
    background-position: left top;
    width: 50%;
}

.img-1 {
    background-image: url(./img/humanibase.PNG);
}

.img-2 {
    background-image: url(./img/whippy.PNG);
}

.content__article__div-content {
    padding: 1rem;
    width: 50%;
}

.svg-icon {
    /* Place the icon on the text baseline. */
    position: relative;
    top: .125em;    

    /* Prevent the icon from shrinking inside a flex container. */
    flex-shrink: 0;

    /* Scale the icon to match the font-size of the parent element. */
    height: 1em;
    width: 1em;

    /* Let the icon take whatever color the parent has. */
    fill: currentColor;

    /*
     * If the icon is used on a link, which has a color transition,
     * we can also use a transition on the fill value.
    */
   transition: fill .3s;
   z-index: 1000;
}

.svg-icon:hover {
    color: var(--primary);
}



/* MEDIA QUERIES */

@media only screen and (max-width: 650px) {
    .hero__section {
        grid-template-columns: repeat(5, 1fr);
    }

    .hero__div-container {
        grid-column: 1 / 5;
    }
    
    .hero__div-image {
        grid-column: 5 / 6;
        background:var(--primary);
    }

    .content__section {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }

    .content__article {
        flex-direction: column;
        align-content: center;
        height: auto;
    }

    .content__article__div-img {    
        width: inherit;
        padding: 250px 0;
     }
    
    .content__article__div-content {
        width: inherit;
        padding: 1rem 0;
    }

    footer {
        margin-top: 1rem;
    }

}



/* ANIMATIONS */

@keyframes bouncing {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}